# Ignore node_modules (not needed as npm automatically excludes it)
node_modules

# Ignore build artifacts
dist
build

# Ignore example files
example.pdf
example-export

# Ignore test files
tests/
*.test.js
*.spec.js

# Ignore configuration files not needed for the package
.vscode/
*.log
.env
*.env

# Ignore Git-related files
.git
.gitignore

# Ignore other unnecessary files
.DS_Store
Thumbs.db